@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --primary-color: rgb(255, 255, 255);
}

* {
   color: white;
   font-family: 'Rubik', sans-serif;
}

.main-container {
   @apply h-screen w-screen;
   background-image: url('/img/gifhomepage.gif');
   background-repeat: no-repeat;
   background-size: cover;
   background-color: black;
   background-position: center;
}

.container-logo {
   @apply flex items-center flex-col gap-20;
   padding-top: 7%;
}

.grafity-logo {
   height: 370px;
   width: 370px;
}


.bs-image-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
   gap: 20px;
}

.bs-img {
   height: 200px;
   width: 200px;
}

.nav-item {
   @apply uppercase font-normal text-2xl;
   transition: all 0.4s ease;
}

.nav-item:hover {
   color: red;
}

.footer-desk {
   @apply w-full;
}

.active-btn {
   border-top: 1px solid #428df5;
   border-radius: 0;
   color: #428df5;
}

.arrow-container {
   @apply absolute top-[30%] flex w-[75vh] justify-between;
}

@media only screen and (max-width:640px) {
   .arrow-container {
      width: 10vh;
   }
}

@media only screen and (min-width:0px) and (max-width:767px) {
   .container-logo {
      display: flex!important;
   }

   .bs-img {
      width: 100px;
      height: 100px;
   }

   .arrow-container {
      width: 40vh;
   }


   .footer-desk {
      display: none;
   }
}

/* @media only screen and (min-width: 768px) {

} */

@media only screen and (min-width:0px) and (max-width:912px) {
   .bs-img {
      width: 180px;
      height: 180px;
   }
}